# Archivos de credenciales y configuración sensible.
# ¡NO SUBIR A GITHUB!
client_secret_153822552005-9rgnskk4tvfoaakr4hcnlnssts0scq0r.apps.googleusercontent.com.json
claves de efweb.txt
id cliente enviofacilweb.txt
config.js

# Archivos de notas y respaldos temporales
codigo_completo.txt
codigo_completo1.txt
codigo_completo2.txt
Nuevo documento de texto.txt
GUARDAR_P.JS
